{% extends 'awwards/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">

        <div class="jumbotron">
            <h1 style="text-align:center">PROJECTS</h1>
            <div class="col-md-5">

            {% if projects %}

            {% for project in projects %}
            <div class="card" style="width: 20rem;">
                <img class="img-fluid" src="{{project.img.url}}" width="100%">
                <div class="card-body">
                    <h5 class="card-title">{{project.title}}</h5>
                    <p class="card-text">{{project.description}}.</p>
                </div>
                <div class="profile">
                    <img src="{{ project.poster.profile.image.cdn_url }}" class="rounded-circle article-img" alt="">
                    <small style="text-align:right">
                        {{project.poster.profile.user}}
                    </small>
                </div>
                <div class="card-body">
                    <a href="{{project.link}}" class="btn btn-outline-info mb-4">See the Project</a>
                </div>
                <a href="{% url 'review' project.id %}"> <i class="fas fa-comment"></i> </a><br>
                <small>posted {{project.timestamp|timesince}} ago</small>
            </div>
            <!-- modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="margin-top: 200px">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">{{user}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{project.img.url}}" class="image-fluid" data-toggle="modal" data-target="#exampleModalScrollable">
                        </div>
                        <div class="modal-footer">
                            <h4>{{project.description}}</h4>
                            <h5 class="gallery-item-likes"><span class="visually-hidden">Ratings:</span><i class="fas fa-heart" aria-hidden="true"></i> {{project.rating}}</h5>
                            <h5 class="gallery-item-comments"><span class="visually-hidden">Reviews:</span><i class="fas fa-comment" aria-hidden="true"></i> {{project.reviews|length}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3>No projects available now.</h3>
            {% endif %}
        </div>

            </div>
            </div>
    </div>
</div>
{% endblock content %}