{% extends 'awwards/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST" action="{% url 'awwards-rating' project.pk %}" >
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Rate this Project</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Rate</button>
        </div>
    </form>
</div>
{% endblock content %}