{% extends "awwards/base.html" %}

{% block content%}
    {% for profile in profiles %}
    <div class="row">
        <div class="col-md-3">
            <img class="rounded-circle account-img" src=" {{ profile.image.url }} ">
        </div>
        <div class="col-md-8">
            <div class="col-md-2">
                <p>{{profile.user}}</p>
            </div>
            <div class="col-md-2">
                <p>{{profile.bio}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}